/* Define colors and fonts directly */
body {
    background-color: #000;
}

container {
    width: 80%;
    /* 80% width, leaving 10% on each side */
    max-width: 1200px;
    /* Optional: Set a maximum width for larger screens */
    padding: 20px;
    /* Add padding */
    background-color: #f0f0f0;
    /* Background color for visibility */
    border: 1px solid #ccc;
    /* Optional border */
    text-align: center;
    /* Center text */
}

h1 {
    font-family: 'Share Tech', sans-serif;
    animation: pulse .9s infinite;
    color: #00ebd4;
}

#identity-results,
#resume,
#loading-alpha-div,
#loadingH1,
#loadingMessage2,
#message {
    margin-top: 20px;
    font-family: 'Share Tech', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #00ebd4;
    animation: pulse .9s infinite;
}

i {
    font-size: 24px;
    color: #00ebd4;
    animation: pulse .9s infinite;
}

.block {
    width: 50px;
    height: 50px;
    background-color: #000;
}

/* Keyframes for pulse animation */
@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.cursor:after {
    content: "_";
    opacity: 0;
    animation: cursor 1s infinite;
}

.sign:before {
    content: "> ";
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#loading-alpha-div,
.img-div {
    display: none;
}

img {
    margin: 50px 0;
    animation: pulse .9s infinite;
}

#loadingMessage2 {
    display: none;
}

.sub-item {
    margin-top: 20px;
    margin-left: 40px;
}

.inline {
    display: inline;
    margin-left: 10px;
}